/* color pallet */

:root{
    --color-primary: hsl(25, 97%, 53%);
    --color-secondary: hsl(213, 19%, 18%);
    --color-background: hsl(216, 12%, 8%);
    --color-small:  hsl(216, 12%, 54%);
    --color-num: hsl(217, 12%, 63%);
    --color-heading: hsl(0, 0%, 100%);
}

/*TYPOGRAPHY*/

html{
    font-size: 62.5%;
    font-family: 'Overpass', sans-serif;
}

img{
    width: 100%;
}

body{
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    color: var(--color-small);
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
}

h1,h2,h3{
    color: var(--color-heading);
}

/*button*/
.btn{
    background: var(--color-primary);
    color: var(--color-heading);
    border: none;
    font-size: 1.6rem;
    padding: 2rem 4vw;
    width: 100%;
    letter-spacing: 0.2rem;
    font-weight: 500;
    border-radius: 3rem;
}

/* icons */

.icon{
    background-color: rgba(50, 60, 70, 1);
    display: inline-block;
    padding: 1rem 1.1rem;
    border-radius: 100%;
}

/* nums */

.nums{
    padding: 1rem 1.5rem;
    background-color:  rgba(50, 60, 70, 1);
    display: inline-block;
    border-radius: 100%;
    color: var(--color-num);
}

/* box selected */

.box_selected{
    color: var(--color-primary);
    background-color: rgba(50, 60, 70, 1) ;
    padding: 0.5rem 4vw;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 3rem;
}

/* container */

.container{
    background-color: var(--color-secondary);
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
}

